<<<<<<< HEAD
/* Estilo da fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');




.container {
  margin-top: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.list-item img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.list-item strong {
  margin-right: 5px;
  
}
.player-card {
  display: flex;
  align-items: center;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  padding: 3px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  background-color: rgba(245, 245, 220, 0.466)
}
.player-card:hover {
  transform: translateY(-5px);
}

.player-card img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  
}

.player-card .club-flag {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.player-card .player-info {
  flex: 1;
  
}

.player-card .player-info .player-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
}

.player-card .player-info .player-position {
  font-size: 14px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.player-card .player-score {
  font-weight: bold;
  font-size: 17px;
}
h1{

}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  align-items: center;
  justify-content: center;
  color: #e3672b; /* cor do texto */
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.76); /* espessura e cor da borda */
  
}
button, select {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e3672b;;
  color: rgb(32, 30, 30);
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  font-weight: bold;
}

button:hover {
  background-color: #e3682bcb;
}
input {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
  border: 2px solid rgba(10, 10, 10, 0.74);
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
select {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e3672b;
  /* color: black; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  font-weight: bold;
}
select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
select:hover {
  background-color: #e3682bcb;
}
option{
  font-size: 15px;
  font-weight: bold;
}
.logopng{
  width: 350px;
  display: flex; /* Para transformar a imagem em um elemento de bloco */
  margin: 36px auto; /* Define as margens laterais automáticas para centralizar horizontalmente */
 
=======
/* Estilo da fonte */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');




.container {
  margin-top: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  
}

.list {
  list-style: none;
  padding: 0;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.list-item img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.list-item strong {
  margin-right: 5px;
  
}
.player-card {
  display: flex;
  align-items: center;
  border: 1px solid rgb(15, 15, 15);
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(245, 245, 220, 0.466)
}

.player-card img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  
}

.player-card .club-flag {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.player-card .player-info {
  flex: 1;
  
}

.player-card .player-info .player-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
}

.player-card .player-info .player-position {
  font-size: 14px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
}

.player-card .player-score {
  font-weight: bold;
  font-size: 17px;
}
h1{

}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  display: flex;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  
}
button, select {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e3672b;;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
}

button:hover {
  background-color: #e3682bcb;
}
input {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
select {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e3672b;
  /* color: black; */
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 40px;
  font-weight: bold;
}
select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
select:hover {
  background-color: #e3682bcb;
}
option{
  font-size: 15px;
  font-weight: bold;
}
.logopng{
  width: 350px;
  display: flex; /* Para transformar a imagem em um elemento de bloco */
  margin: 36px auto; /* Define as margens laterais automáticas para centralizar horizontalmente */
 
>>>>>>> origin/main
}